.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #fce8d5;
  color: #5c5c5c;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  width: 120px;
  height: 40px;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn:active {
  border: none;
}

.start {
  background-color: #c4f0c5;
  color: #3c3c3c;
}

.pause {
  background-color: #ffe9ae;
  color: #3c3c3c;
}

.reset {
  background-color: #f39292;
  color: #3c3c3c;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: 400px;
  height: 400px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.timer {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff0e5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  color: #fa8072;
  font-weight: bold;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.timer::before {
  content: "";
  position: absolute;
  inset: 20px;
  background-color: #fff0e5;
  border-radius: 50%;
  z-index: 1;
}

.timeText {
  position: relative;
  z-index: 2;
}

h1 {
  color: #a1743b;
  font-size: 28px;
  margin-bottom: 10px;
  font-family: "Segoe UI", sans-serif;
  text-shadow: 1px 1px 0 #fffaf2;
}
.progressCircle {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #fce8d5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 0.3s linear;
}

.timeText {
  position: relative;
  z-index: 3;
}
